@import "bourbon";

.ddl-form-builder-app {
	&.container-fluid-1280 {
		.row {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

.lfr-ddm-form-container {

	.lfr-ddm-form-page-title + .row {
		margin-top: 40px;
	}

	.form-control-feedback {
		margin-left: -20px;
	}

	.icon-angle-left {
		font-size: inherit;
	}

	.lfr-ddm-form-field-container {
		position: relative;

		@include keyframes(spin) {
			100% {
				transform: rotate(359deg);
			}
		}

		.icon-spinner {
			@include animation(spin 1000ms infinite linear);
		}

		.lfr-ddm-form-field-repeatable-add-button {
			position: absolute;
			right: 0;
			top: 0;
		}

		.lfr-ddm-form-field-repeatable-delete-button {
			position: absolute;
			right: 15px;
			top: 0;
		}

		.validation-message {
			font-size: 14px;
			position: absolute;
		}
	}

	.lfr-ddm-form-page {
		display: none;
		padding-top: 25px;

		&.active {
			display: block;
		}
	}

	.lfr-ddm-form-page-description {
		margin-bottom: 40px;
	}

	.row {
		min-height: auto;
	}

	.lfr-ddm-form-pagination-controls {
		padding-top: 20px;
	}

	.validation-message {
		position: absolute;
		margin-top: -45px;
	}
}

.portal-popup {
	$side-spacing: 34px;

	.devcon-bg {
		width: 13%;
		height: 100%;
		background: url(https://www.liferay.com/documents/47511614/49230168/Squares-Heading.png/0453b861-d454-4dcd-b11d-fac7458e242c);
		background-size: cover;
		position: absolute;
	}

	.devcon-bg-left {
		top: 0;
		left: 0;
	}

	.devcon-bg-right {
		top: 0;
		right: 0;
	}

	.alert {
		margin: 0;
	}

	background-color: #fff;
	padding: 0;

	.ddl-form-basic-info {
		position: relative;
	}

	&.open {
		padding: 0;
	}

	.lfr-ddm-form-page-title,
	.lfr-ddm-form-page-description {
		padding-left: $side-spacing;
		padding-right: $side-spacing;
	}

	.lfr-ddm-form-page {
		padding-bottom: $side-spacing;
	}

	.ddl-form-basic-info {
		.ddl-form-name,
		.ddl-form-description {
			color: #1277a7;
			text-align: center;
		}

		.ddl-form-name {
			font-size: 44px;
		}

		.ddl-form-description {
			font-size: 19px;
		}
	}

	.lfr-ddm-form-wizard {
		background: #fff;
	}
}

.multi-step-progress-bar {
	> .complete {
		color: #65B6F0;
		
		.divider {
			background-color: #65B6F0;
		}
	}
}

// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
// 	.portal-popup {
// 		.devcon-bg {
// 			display: none;
// 		}
// 	}
// }